In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
def trap(f, a, b, n):
    h = (b-a)/n
    integral = 0
    for i in range(n):
        integral += (f(i*h)+f((i+1)*h))*h/2
    # print(integral)
    return integral

In [10]:
def f1(x):
    return 3*x+1
def f2(x):
    return x*np.exp(-x*x)
def f3(x):
    return np.cos(x)+1

In [11]:
f1int = 2.5
f2int = (np.exp(1)-1)/(2*np.exp(1))
f3int = 2*np.pi

In [12]:
datablob = []
a, b = 0, 1
for i in range(1, 7):
    n = 2**i
    h = (b-a)/n
    integ = trap(f1, a, b, n)
    err = abs(f1int - integ)
    relerr = err/(h*h)
    datablob.append([n, h, integ, err, relerr])
datablob = pd.DataFrame(datablob, 
            columns=['N', 'h', 'Trapz_result', 'Error', 'Relative_err'])
datablob

    N         h  Trapz_result  Error  Relative_err
0   2  0.500000           2.5    0.0           0.0
1   4  0.250000           2.5    0.0           0.0
2   8  0.125000           2.5    0.0           0.0
3  16  0.062500           2.5    0.0           0.0
4  32  0.031250           2.5    0.0           0.0
5  64  0.015625           2.5    0.0           0.0

In [13]:
datablob = []
a, b = 0, 1
for i in range(1, 7):
    n = 2**i
    h = (b-a)/n
    integ = trap(f2, a, b, n)
    err = abs(f2int - integ)
    relerr = err/(h*h)
    datablob.append([n, h, integ, err, relerr])
datablob = pd.DataFrame(datablob, 
            columns=['N', 'h', 'Trapz_result', 'Error', 'Relative_err'])
datablob

    N         h  Trapz_result     Error  Relative_err
0   2  0.500000      0.286670  0.029390      0.117561
1   4  0.250000      0.308883  0.007178      0.114842
2   8  0.125000      0.314276  0.001784      0.114201
3  16  0.062500      0.315615  0.000445      0.114043
4  32  0.031250      0.315949  0.000111      0.114003
5  64  0.015625      0.316032  0.000028      0.113993

In [14]:
datablob = []
a, b = 0, 2*np.pi
for i in range(1, 7):
    n = 2**i
    h = (b-a)/n
    integ = trap(f3, a, b, n)
    err = abs(f3int - integ)
    relerr = err/(h*h)
    datablob.append([n, h, integ, err, relerr])
datablob = pd.DataFrame(datablob, 
            columns=['N', 'h', 'Trapz_result', 'Error', 'Relative_err'])
datablob

    N         h  Trapz_result         Error  Relative_err
0   2  3.141593      6.283185  0.000000e+00  0.000000e+00
1   4  1.570796      6.283185  0.000000e+00  0.000000e+00
2   8  0.785398      6.283185  0.000000e+00  0.000000e+00
3  16  0.392699      6.283185  8.881784e-16  5.759442e-15
4  32  0.196350      6.283185  0.000000e+00  0.000000e+00
5  64  0.098175      6.283185  8.881784e-16  9.215108e-14